@using Sistema.Util;
@{
    var Prefix = Html.ClientPrefixName().ToString();
}

<div id="@Sistema.Util.SelectFunctions.getInputId("Modal",Prefix)" class="modal fade" role="dialog" data-backdrop="static">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar Pais</h4>
            </div>
            <div class="modal-body">

                <div class="form-row">
                    <div class="@Util.Input12">
                        @Html.Label("nomePais", "País", new { @class = "required" })
                        <div class="@Util.Input12">
                            @Html.TextBox("nomePais", null, new { @class = "form-control", maxlength = "50", style = "text-transform:uppercase" })
                        </div>
                        @Html.ValidationMessage("nomePais", null, new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-row">
                    <div class="@Util.Input3">
                        @Html.Label("ddi", "DDI", new { @class = "required" })
                        <div class="@Util.Input12">
                            @Html.TextBox("ddi", null, new { @class = "form-control", maxlength = "5", style = "text-transform:uppercase" })
                        </div>
                    </div>
                    <div class="@Util.Input3">
                        @Html.Label("sigla", "Sigla", new { @class = "required" })
                        <div class="@Util.Input12">
                            @Html.TextBox("sigla", null, new { @class = "form-control", maxlength = "2", style = "text-transform:uppercase" })

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" id="@Sistema.Util.SelectFunctions.getInputId("btnBack",Prefix)" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                <button type="button" id="@Sistema.Util.SelectFunctions.getInputId("btnSave",Prefix)" class="btn btn-success"><i class="fa fa-save"></i> Salvar</button>
            </div>
        </div>
    </div>
</div>

@Html.AddScriptBlock(
    @<script type="text/javascript">
        $(function () {
            $('#@Sistema.Util.SelectFunctions.getInputId("Modal", Prefix)').on('shown.bs.modal', function () {
                shared_function["@Prefix"].init();
            });
            $('#@Sistema.Util.SelectFunctions.getInputId("btnSave", Prefix)').on('click', function () {
                shared_function["@Prefix"].insert();
            });
        });
        shared_function["@Prefix"] = {
            getForm: function () {
                var form = {
                    nomePais: $('#@Sistema.Util.SelectFunctions.getInputId("nomePais", Prefix)'),
                    ddi: $('#@Sistema.Util.SelectFunctions.getInputId("ddi", Prefix)'),
                    sigla: $('#@Sistema.Util.SelectFunctions.getInputId("sigla", Prefix)'),
                }
                return form;
            },
            clear: function () {
                var form = shared_function["@Prefix"].getForm();
                shared_function["@Prefix"].button('reset');
                form.nomePais.val("");
                form.ddi.val("");
                form.sigla.val("");
                form.nomePais.focus();
            },
            init: function () {
                shared_function["@Prefix"].clear();
            },
            isValid: function (form) {

                var valid = true;
                var msg = "<h4>Verifique os campos abaixo</h4>";

                if (IsNullOrEmpty(form.nomePais.val())) {
                    alert("Campo país é obrigatório")
                    form.nomePais.focus();
                    valid = false;
                }

                else if (IsNullOrEmpty(form.ddi.val())) {
                    alert("Campo ddi é obrigatório")
                    form.ddi.focus();
                    valid = false;
                }

                else if (IsNullOrEmpty(form.sigla.val())) {
                    alert("Campo sigla é obrigatório")
                    form.sigla.focus();
                    valid = false;
                }

                if (!valid) {
                    shared_function["@Prefix"].button('reset');
                    $.notify(msg, { type: "danger", z_index: 2031 });
                }
                return valid;
            },
            getModel: function (form) {
                var model = {
                    nomePais: form.nomePais.val(),
                    ddi: form.ddi.val(),
                    sigla: form.sigla.val(),
                }
                return model;
            },
            button: function (value) {
                $('#@Sistema.Util.SelectFunctions.getInputId("btnSave", Prefix)').button(value);
                $('#@Sistema.Util.SelectFunctions.getInputId("btnBack", Prefix)').button(value);

            },
            insert: function () {
                shared_function["@Prefix"].button('loading');
                var form = shared_function["@Prefix"].getForm();

                if (shared_function["@Prefix"].isValid(form)) {

                    var model = shared_function['@Prefix'].getModel(form);
                    $.ajax({
                        dataType: 'json',
                        type: 'POST',
                        url: '@Url.Action("jsCreate", "Paises")',
                        data: model,
                        success: function (data) {
                            shared_function["@Prefix"].button('reset');
                            if (data.type == "success") {
                                $('#@Sistema.Util.SelectFunctions.getInputId("Modal", Prefix)').modal('hide');
                                shared_function["@Prefix"].clear();

                                $(document).trigger('@Sistema.Util.SelectFunctions.getInputId("Insert",Prefix)', data.model);
                            } else {
                                $('#@Prefix' + '_' + data.field).blink();
                                $('#@Prefix' + '_' + data.field).select().focus();
                            }
                            $.notify(data.message, { type: data.type, z_index: 2031 });

                        },
                        error: function (request) {
                            shared_function["@Prefix"].button('reset');
                            Functions.checkRequest(request);
                        }
                    });
                    //$.ajax({ url: "Url.Action("JsQuery", "Paises")" });
                    @*var table = $('#@Sistema.Util.SelectFunctions.getInputId("grid", Html.ClientPrefixName().ToString())').dataTable({
                        ajax: { url: "@Url.Action("JsQuery", "Paises")" },
                    });*@
                }
            }
        }
</script>
)