@model Sistema.Models.CondicaoPagamento
@{
    ViewBag.Title = "Visualizar registro";
    ViewBag.Layout = "~/_Styles/Style.css";
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    ViewBag.readOnly = true;
    ViewBag.action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
}

@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="container">
            <div class="horizontal">
                <div class="verticals ten offset-by-one">
                    <ol class="breadcrumb breadcrumb-fill2">
                        <li class="active"><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a> </li>
                        <li style="margin-left:15px; margin-right:-12px; font-weight:500 " class="active"><a href="@Url.Action("Index")"> Condição de pagamento </a></li>
                        <li style="margin-right:-5px; font-weight:500"> / @ViewBag.Title </li>
                    </ol>
                </div>
            </div>
        </div>

        <div class="pull-left col-lg-12 col-md-12 col-sm-10 col-xs-10">
            @Html.RenderFlashMessage()
            @Html.CustomValidationSummary(true, true, Sistema.Util.AlertMessage.ERROR_MESSAGE, new { @class = "alert alert-danger", role = "alert" })
            <fieldset disabled>
                @Html.Partial("Form", Model)
            </fieldset>

        </div>
        <div style="text-align:center">
            <a href="@Url.Action("Index")" class="btn btn-secondary" role="button" aria-pressed="true"> <i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
    </div>
}
@section scripts{
    @Scripts.Render("~/Scripts/CondicaoPagamento/Details.js")
}
