@model Sistema.Models.CondicaoPagamento
@using Sistema.Util
@{
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string action = Convert.ToString(ViewBag.Action);
}

@if (action != "create")
{
    @Html.HiddenFor(model => model.codCondicao)
    <div class="form-row">
        <div class="@Util.Input2">
            @Html.LabelFor(model => model.codCondicao)
            @Html.TextBoxFor(model => model.codCondicao, new { @class = "form-control", disabled = false })
        </div>
    </div>
}

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.situacao)
        @Html.DropDownListFor(model => model.situacao, Sistema.Models.CondicaoPagamento.Situacao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.situacao, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input12">
        @Html.LabelFor(model => model.nomeCondicao, new { @class = "required" })
        @Html.TextBoxFor(model => model.nomeCondicao, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.nomeCondicao, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    @*<p class="@Util.Input9"> CondicaoPagamento </p>*@

    <div class="@Util.Input2">
        @Html.Label("codCond", "Cod..", new { @class = "required" })
        @Html.TextBox("codCond", "", new { @class = "form-control", maxlength = "8", style = "text-transform:uppercase", minlength = "3" })
    </div>

    <div class="@Util.Input10">
        @Html.Label("nomeCondicao", "Forma de pagamento.", new { @class = "required" })
        @Html.TextBox("nomeCondicao", "", new { @class = "form-control", maxlength = "8", style = "text-transform:uppercase", minlength = "3" })
    </div>

    @*<p class="@Util.Input9"> CondicaoPagamento </p>*@
</div>

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.juros, new { @class = "required" })
        @Html.DropDownListFor(model => model.juros, Sistema.Models.CondicaoPagamento.Juros, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.juros, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3" id="divJuros">
        @Html.LabelFor(model => model.txJuros, new { @class = "required" })
        @Html.TextBoxFor(model => model.txJuros, new { @class = "form-control percent" })
        @Html.ValidationMessageFor(model => model.juros, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.parcela, new { @class = "required" })
        @Html.DropDownListFor(model => model.parcela, Sistema.Models.CondicaoPagamento.Parcela, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.parcela, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3" id="divParcela">
        @Html.LabelFor(model => model.qtParcela, new { @class = "required" })
        @Html.TextBoxFor(model => model.qtParcela, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.qtParcela, null, new { @class = "text-danger" })
    </div>
</div>

@if (action != "create")
{
    <div class="form-row">
        <div class="@Util.Input3">
            @Html.LabelFor(model => model.dtCadastro)
            <div class="input-group-append">
                @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control datepicke date", disabled = true })
                <span class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="@Util.Input3 ">
            @Html.LabelFor(model => model.dtUltAlteracao)
            <div class="input-group">
                @Html.TextBoxFor(model => model.dtUltAlteracao, new { @class = "form-control datepicker date", disabled = true })
                <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
}