@model Sistema.Models.CondicaoPagamento
@using Sistema.Util
@{
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string action = Convert.ToString(ViewBag.Action);
}

@if (action != "create")
{
    @Html.HiddenFor(model => model.codCondicao)
    <div class="form-row">
        <div class="@Util.Input2">
            @Html.LabelFor(model => model.codCondicao)
            @Html.TextBoxFor(model => model.codCondicao, new { @class = "form-control", disabled = false })
        </div>
    </div>
}

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.situacao)
        @Html.DropDownListFor(model => model.situacao, Sistema.Models.CondicaoPagamento.Situacao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.situacao, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input12">
        @Html.LabelFor(model => model.nomeCondicao, new { @class = "required" })
        @Html.TextBoxFor(model => model.nomeCondicao, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.nomeCondicao, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.txJuros, new { @class = "required" })
        @Html.TextBoxFor(model => model.txJuros, new { @class = "form-control", placeholder = "00,00" })
        @Html.ValidationMessageFor(model => model.txJuros, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3">
        @Html.LabelFor(model => model.multa, new { @class = "required" })
        @Html.TextBoxFor(model => model.multa, new { @class = "form-control", placeholder = "00,00" })
        @Html.ValidationMessageFor(model => model.multa, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3">
        @Html.LabelFor(model => model.desconto, new { @class = "required" })
        @Html.TextBoxFor(model => model.desconto, new { @class = "form-control", placeholder = "00,00" })
        @Html.ValidationMessageFor(model => model.desconto, null, new { @class = "text-danger" })
    </div>
</div>


<div class="bs-callout bs-callout-primary">
    <div class="form-row">
        @*<p class="@Util.Input9"> CondicaoPagamento </p>*@

        <div class="@Util.Input2">
            @Html.Label("codForma", "Cod..", new { @class = "required" })
            @Html.TextBox("codForma", "", new { @class = "form-control", maxlength = "8", style = "text-transform:uppercase", minlength = "3" })
        </div>

        <div class="@Util.Input10">
            @Html.Label("nomeForma", "Forma de pagamento.", new { @class = "required" })
            @Html.TextBox("nomeForma", "", new { @class = "form-control", maxlength = "8", style = "text-transform:uppercase", minlength = "3" })
        </div>
    </div>

    <div class="form-row">
        <div class="@Util.Input3">
            @Html.LabelFor(model => model.qtDias, new { @class = "required" })
            @Html.TextBoxFor(model => model.qtDias, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.qtDias, null, new { @class = "text-danger" })
        </div>

        <div class="@Util.Input3">
            @Html.LabelFor(model => model.txPercentual, new { @class = "required" })
            @Html.TextBoxFor(model => model.txPercentual, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.txPercentual, null, new { @class = "text-danger" })
        </div>

        <div>
            <button id="addCondPagamento" type="button" class="btn btn-success btn-lg" style="margin-top:35px; font-size:14px" title="Adicionar"><i class="fa fa-plus"></i></button>
        </div>
    </div>

    @Html.HiddenFor(model => model.ListCondicaoPagamento)
    <table id="tbcondicao" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="5%">Nº</th>
                <th width="5%">Dias</th>
                <th width="5%">Percentual</th>
                <th width="85%">Forma de pagamento</th>
            </tr>
        </thead>
    </table>
</div>

@if (action != "create")
{
    <div class="form-row">
        <div class="@Util.Input3">
            @Html.LabelFor(model => model.dtCadastro)
            <div class="input-group-append">
                @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control datepicke date", disabled = true })
                <span class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="@Util.Input3 ">
            @Html.LabelFor(model => model.dtUltAlteracao)
            <div class="input-group">
                @Html.TextBoxFor(model => model.dtUltAlteracao, new { @class = "form-control datepicker date", disabled = true })
                <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
}
