@model IEnumerable<Sistema.Models.OrdemServico>
@{
    ViewBag.Title = "Ordem de serviço";
    ViewBag.Layout = "~/_Styles/Style.css";
}
<div class="container-fluid">
    <div class="container">
        <div class="horizontal" style="margin-top:15px;">
            @Html.RenderFlashMessage()
            <div class="verticals ten offset-by-one">
                <ol class="breadcrumb breadcrumb-fill2">
                    <li class="active"><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a> </li>
                    <li style="margin-left:15px; margin-right:-12px; font-weight:500 " class="active"><a href="@Url.Action("Index")"> @ViewBag.Title </a></li>
                    @*<li style="margin-right:-5px; font-weight:500"> / qweqwe </li>*@
                </ol>
            </div>
            <div style="margin-block: 15px; text-align:center">
                @Html.ActionLink("Adicionar", "Create", new { }, new { @class = "btn btn-success" })
                @Html.ActionLink("Limpar", "Index", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    <table id="OrdemServico" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="5%">Nº</th>
                <th width="15%">Data de abertura</th>
                <th width="10%">Data de validade</th>
                <th width="47%">Cliente</th>
                <th width="10%">Situação</th>
                <th width="13%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.codigo)
                    </td>
                    <td>
                        @if (item.dtAbertura != null)
                        {
                            var dtAux = item.dtAbertura.Value.ToString("dd/MM/yyyy hh:mm");
                            @Html.DisplayFor(modelItem => dtAux)
                        }

                    </td>
                    <td>
                        @if (item.dtValidade != null)
                        {
                            var dtAux = item.dtValidade.Value.ToString("dd/MM/yyyy");
                            @Html.DisplayFor(modelItem => dtAux);
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cliente.text)
                    </td>
                    <td>
                        @if (!string.IsNullOrEmpty(item.situacao))
                        {
                            var situAux = string.Empty;
                            if (item.situacao == "A")
                            {
                                situAux = "ABERTA";
                            }
                            else if (item.situacao == "T")
                            {
                                situAux = "AUTORIZADA";
                            }
                            else if (item.situacao == "R")
                            {
                                situAux = "REALIZADA";
                            }
                            else if (item.situacao == "F")
                            {
                                situAux = "FINALIZADA";
                            }
                            else if (item.situacao == "C")
                            {
                                situAux = "CANCELADA";
                            }
                            @Html.DisplayFor(modelItem => situAux)
                        }
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.codigo }, new { @class = "btn btn-success btn-sm fa fa-eye", @title = "Visualizar registro" })
                        @if (item.situacao != "F")
                        {
                            @Html.ActionLink(" ", "Edit", new { id = item.codigo }, new { @class = "btn btn-warning btn-sm fa fa-edit", @title = "Editar registro" })
                        }
                        else
                        {
                            <a class='btn btn-secondary btn-sm' style="height:26px; width:33px" title="Ação indisponível" data-trigger='hover'><i class='fa fa-info'></i></a>
                        }

                        @*@Html.ActionLink(" ", "Finalizar", new { id = item.codigo }, new { @class = "btn btn-dark btn-sm fa fa-check", @title = "Finalizar registro" })*@
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/OrdemServico/Index.js")
}
