@model Sistema.Models.Fornecedores
@using Sistema.Util
@{
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string action = Convert.ToString(ViewBag.Action);
}

@if (action != "create")
{
    @Html.HiddenFor(model => model.codigo)
    <div class="form-row">
        <div class="@Util.Input2">
            @Html.LabelFor(model => model.codigo)
            @Html.TextBoxFor(model => model.codigo, new { @class = "form-control", disabled = false })
        </div>
    </div>
}

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.tipo)
        @Html.DropDownListFor(model => model.tipo, Sistema.Models.Fornecedores.Tipo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.tipo, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3">
        @Html.LabelFor(model => model.situacao)
        @Html.DropDownListFor(model => model.situacao, Sistema.Models.Fornecedores.Situacao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.situacao, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input12 fisica">
        @Html.LabelFor(model => model.nomePessoa, new { @class = "required" })
        @Html.TextBoxFor(model => model.nomePessoa, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.nomePessoa, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input12 juridica">
        @Html.LabelFor(model => model.razaoSocial, new { @class = "required" })
        @Html.TextBoxFor(model => model.razaoSocial, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.razaoSocial, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input12 juridica">
        @Html.LabelFor(model => model.nomeFantasia, new { @class = "required" })
        @Html.TextBoxFor(model => model.nomeFantasia, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.nomeFantasia, null, new { @class = "text-danger" })
    </div>

</div>
<div class="form-row">
    <div class="@Util.Input9 fisica">
        @Html.LabelFor(model => model.apelidoPessoa, new { @class = "required" })
        @Html.TextBoxFor(model => model.apelidoPessoa, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.apelidoPessoa, null, new { @class = "text-danger" })
    </div>
    <div class="@Util.Input3 fisica">
        @Html.LabelFor(model => model.sexo, new { @class = "required" })
        @Html.DropDownListFor(model => model.sexo, Sistema.Models.Clientes.Sexo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.sexo, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input4">
        @Html.LabelFor(model => model.dsLogradouro, new { @class = "required" })
        @Html.TextBoxFor(model => model.dsLogradouro, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.dsLogradouro, null, new { @class = "text-danger" })
    </div>
    <div class="@Util.Input1">
        @Html.LabelFor(model => model.numero, new { @class = "required" })
        @Html.TextBoxFor(model => model.numero, new { @class = "form-control", maxlength = "8", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.numero, null, new { @class = "text-danger" })
    </div>
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.complemento, new { @class = "required" })
        @Html.TextBoxFor(model => model.complemento, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.complemento, null, new { @class = "text-danger" })
    </div>
    <div class="@Util.Input4">
        @Html.LabelFor(model => model.bairro, new { @class = "required" })
        @Html.TextBoxFor(model => model.bairro, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.bairro, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input4">
        @Html.LabelFor(model => model.telefoneFixo, new { @class = "required" })
        @Html.TextBoxFor(model => model.telefoneFixo, new { @class = "form-control", maxlength = "10", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.telefoneFixo, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input4">
        @Html.LabelFor(model => model.telefoneCelular, new { @class = "required" })
        @Html.TextBoxFor(model => model.telefoneCelular, new { @class = "form-control", maxlength = "11", style = "text-transform:uppercase", minlength = "3", @placeholder = "(XX) X XXXX-XXXX" })
        @Html.ValidationMessageFor(model => model.telefoneCelular, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input4">
        @Html.LabelFor(model => model.email, new { @class = "required" })
        @Html.TextBoxFor(model => model.email, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.email, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    @Html.EditorFor(model => model.Cidade, "Cidades/Select", new { Disabled = false, Required = false })
</div>


<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.cep, new { @class = "required" })
        @Html.TextBoxFor(model => model.cep, new { @class = "form-control", maxlength = "8", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.cep, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input3 fisica">
        @Html.LabelFor(model => model.cpf, new { @class = "required" })
        @Html.TextBoxFor(model => model.cpf, new { @class = "form-control", maxlength = "15", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.cpf, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3 juridica">
        @Html.LabelFor(model => model.cnpj, new { @class = "required" })
        @Html.TextBoxFor(model => model.cnpj, new { @class = "form-control", maxlength = "15", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.cnpj, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3 fisica">
        @Html.LabelFor(model => model.rg, new { @class = "required" })
        @Html.TextBoxFor(model => model.rg, new { @class = "form-control", maxlength = "15", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.rg, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3 juridica">
        @Html.LabelFor(model => model.ie, new { @class = "required" })
        @Html.TextBoxFor(model => model.ie, new { @class = "form-control", maxlength = "15", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.ie, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3 fisica">
        @Html.LabelFor(model => model.dtNascimento)
        <div class="input-group-append">
            @Html.TextBoxFor(model => model.dtNascimento, new { @class = "form-control datepicker" })
            <span class="fa fa-calendar input-group-text" style="font-size:23px"></span>
        </div>
    </div>

    <div class="@Util.Input3 juridica">
        @Html.LabelFor(model => model.dtFundacao)
        <div class="input-group-append">
            @Html.TextBoxFor(model => model.dtFundacao, new { @class = "form-control datepicker" })
            <span class="fa fa-calendar input-group-text" style="font-size:23px"></span>
        </div>
    </div>
</div>

<div class="form-row">
    @Html.EditorFor(model => model.CondicaoPagamento, "CondicaoPagamento/Select", new { Required = false, Disabled = false })
</div>


<div class="form-row">
    <div class="@Util.Input12">
        @Html.LabelFor(model => model.observacao)
        @Html.TextAreaFor(model => model.observacao, new { @class = "form-control" })
    </div>
</div>

@if (action != "create")
{
    <div class="form-row">
        <div class="@Util.Input3">
            @Html.LabelFor(model => model.dtCadastro)
            <div class="input-group-append">
                @Html.TextBoxFor(model => model.dtCadastro, new { @class = "form-control datepicke date", disabled = true })
                <span class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></span>
            </div>
        </div>

        <div class="@Util.Input3 ">
            @Html.LabelFor(model => model.dtUltAlteracao)
            <div class="input-group">
                @Html.TextBoxFor(model => model.dtUltAlteracao, new { @class = "form-control datepicker date", disabled = true })
                <div class="input-group-addon input-group-text"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
    </div>
}