@model Sistema.Models.FormaPagamento
@using Sistema.Util
@{
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string action = Convert.ToString(ViewBag.Action);
}

@if (action != "create")
{
    @Html.HiddenFor(model => model.codForma)
    <div class="form-row">
        <div class="@Util.Input2">
            @Html.LabelFor(model => model.codForma)
            @Html.TextBoxFor(model => model.codForma, new { @class = "form-control", disabled = false })
        </div>
    </div>
}

<div class="form-row">
    <div class="@Util.Input3">
        @Html.LabelFor(model => model.situacao, new { @class = "required" })
        @Html.DropDownListFor(model => model.situacao, Sistema.Models.CondicaoPagamento.Situacao, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.situacao, null, new { @class = "text-danger" })
    </div>
</div>

<div class="form-row">
        <div class="@Util.Input12">
            @Html.LabelFor(model => model.nomeForma, new { @class = "required" })
            @Html.TextBoxFor(model => model.nomeForma, new { @class = "form-control", maxlength = "100", style = "text-transform:uppercase", minlength = "3" })
            @Html.ValidationMessageFor(model => model.nomeForma, null, new { @class = "text-danger" })
        </div>
    </div>
