@model Sistema.Models.Cidades
@using Sistema.Util
@{
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    string action = Convert.ToString(ViewBag.Action);
}

@Html.HiddenFor(model => model.codCidade)
<div class="form-row">
    <div class="@Util.Input2">
        @Html.LabelFor(model => model.codCidade)
        @Html.TextBoxFor(model => model.codCidade, new { @class = "form-control", disabled = false })
    </div>
</div>

<div class="form-row">
    <div class="@Util.Input6">
        @Html.LabelFor(model => model.nomeCidade, new { @class = "required" })
        @Html.TextBoxFor(model => model.nomeCidade, new { @class = "form-control", maxlength = "50", style = "text-transform:uppercase", minlength = "3" })
        @Html.ValidationMessageFor(model => model.nomeCidade, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3">
        @Html.LabelFor(model => model.ddd)
        @Html.TextBoxFor(model => model.ddd, new { @class = "form-control", @maxlength = "5", style = "text-transform:uppercase" })
        @Html.ValidationMessageFor(model => model.ddd, null, new { @class = "text-danger" })
    </div>

    <div class="@Util.Input3">
        @Html.LabelFor(model => model.sigla)
        @Html.TextBoxFor(model => model.sigla, new { @class = "form-control", @maxlength = "3", style = "text-transform:uppercase" })
        @Html.ValidationMessageFor(model => model.sigla, null, new { @class = "text-danger" })
    </div>
</div>