@model IEnumerable<Sistema.Models.Compras>
@{
    ViewBag.Title = "Compras";
    ViewBag.Layout = "~/_Styles/Style.css";
}
<div class="container-fluid">
    <div class="container">
        <div class="horizontal" style="margin-top:15px;">
            @Html.RenderFlashMessage()
            <div class="verticals ten offset-by-one">
                <ol class="breadcrumb breadcrumb-fill2">
                    <li class="active"><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a> </li>
                    <li style="margin-left:15px; margin-right:-12px; font-weight:500 " class="active"><a href="@Url.Action("Index")"> @ViewBag.Title </a></li>
                    @*<li style="margin-right:-5px; font-weight:500"> / qweqwe </li>*@
                </ol>
            </div>
            <div style="margin-block: 15px; text-align:center">
                @Html.ActionLink("Adicionar", "Create", new { }, new { @class = "btn btn-success" })
                @Html.ActionLink("Limpar", "Index", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    <table id="Compras" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="10%">Nº nota</th>
                <th width="3%">Modelo</th>
                <th width="2%">Série</th>
                <th width="30%">Fornecedor</th>
                <th width="10%">Data da compra</th>
                <th width="10%">Data da entrega</th>
                <th width="10%">Data de entrada</th>
                <th width="10%">Situação</th>
                <th width="10%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.nrNota)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.modelo)
                    </td>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.serie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Fornecedor.text)
                    </td>
                    <td>
                        @if (item.dtEmissao != null)
                        {
                            var dtEmiAux = item.dtEmissao.Value.ToString("dd/MM/yyyy");
                            @Html.DisplayFor(modelItem => dtEmiAux)
                        }
                    </td>
                    <td>
                        @if (item.dtEntrega != null)
                        {
                            var dtEmiAux = item.dtEntrega.Value.ToString("dd/MM/yyyy");
                            @Html.DisplayFor(modelItem => dtEmiAux)
                        }
                    </td>
                    <td>
                        @if (item.dtCadastro != null)
                        {
                            var dtEmiAux = item.dtCadastro.Value.ToString("dd/MM/yyyy");
                            @Html.DisplayFor(modelItem => dtEmiAux)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.situacao)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", new { modelo = item.modelo, serie = item.serie, numero = item.nrNota, codFornecedor = item.Fornecedor.id }, new { @class = "btn btn-success btn-sm fa fa-eye", @title = "Visualizar registro" })
                        @if (!item.ParcelasCompra.Exists(u => u.situacao == "G"))
                        {
                            @Html.ActionLink(" ", "Cancelar", new { modelo = item.modelo, serie = item.serie, numero = item.nrNota, codFornecedor = item.Fornecedor.id }, new { @class = "btn btn-danger btn-sm fa fa-ban", @title = "Cancelar registro" })
                        }
                        else
                        {
                            <a class='btn btn-secondary btn-sm' style="height:26px; width:33px" title="Ação indisponível" data-trigger='hover'><i class='fa fa-info'></i></a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Compras/Index.js")
}
