@model IEnumerable<Sistema.Models.Funcionarios>
@{
    ViewBag.Title = "Funcionarios";
    ViewBag.Layout = "~/_Styles/Style.css";
}
<div class="container-fluid">
    <div class="container">
        <div class="horizontal">
            <div class="verticals ten offset-by-one">
                <ol class="breadcrumb breadcrumb-fill2">
                    <li class="active"><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a> </li>
                    <li style="margin-left:15px; margin-right:-12px; font-weight:500 " class="active"><a href="@Url.Action("Index")"> @ViewBag.Title </a></li>
                    @*<li style="margin-right:-5px; font-weight:500"> / qweqwe </li>*@
                </ol>
            </div>
            <div style="margin-block: 15px; text-align:center">
                @Html.ActionLink("Adicionar", "Create", new { }, new { @class = "btn btn-success" })
                @Html.ActionLink("Limpar", "Index", new { }, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>

    <table id="Funcionarios" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th width="5%">Código</th>
                <th width="45%">Funcionario</th>
                <th width="10%">Data de admissão</th>
                <th width="10%">Telefone</th>
                <th width="10%">Situação</th>
                <th width="12%"></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:right">
                        @Html.DisplayFor(modelItem => item.codigo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.nomePessoa)
                    </td>
                    <td>
                        @if (item.dtAdmissao != null)
                        {
                            var dtAuxAdmissao = item.dtAdmissao.Value.ToString("dd/MM/yyyy");
                            @Html.DisplayFor(modelItem => dtAuxAdmissao)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.telefoneCelular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.situacao)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "Details", new { id = item.codigo }, new { @class = "btn btn-success btn-sm fa fa-eye", @title = "Visualizar registro" })
                        @Html.ActionLink(" ", "Edit", new { id = item.codigo }, new { @class = "btn btn-warning btn-sm fa fa-edit", @title = "Editar registro" })
                        @Html.ActionLink(" ", "Delete", new { id = item.codigo }, new { @class = "btn btn-danger btn-sm fa fa-trash-o", @title = "Excluir registro" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section scripts{
    @Scripts.Render("~/Scripts/Funcionarios/Index.js")
}
